@mixin floatingElement {
  position: absolute;
  white-space: nowrap;
  font-family: 'Dancing-script';
  font-size: 30px;
  color: white;
  text-shadow: 0px 0px 10px black;
  animation: var(--animation);
  transition: all 0.5s ease-out;
  opacity: 1;
  z-index: 0;
}

@mixin rack-content {
  position: relative;
  width: 200px;
  perspective: 1000px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url(../images/svg/rack.svg);
  box-shadow: 0 0 15px 1px black;
}

@mixin rack-title {
  font-size: 25px;
  font-family: 'ironman-black';
  color: $color-copper;
  text-shadow: 0 0 5px black;
}

@mixin darken-svg {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
}

@mixin glass {
  background: repeating-linear-gradient(
    122deg,
    rgba(179, 103, 0, 0.1) 5%,
    rgba(255, 255, 255, 0.2) 10%,
    rgba(179, 103, 0, 0.1) 25%
  );
}

@mixin border-ridge {
  border-width: 3px;
  border-style: solid;
  border-image: repeating-linear-gradient(
      155deg,
      rgb(155, 87, 53) 0%,
      rgb(193, 109, 62) 10%,
      rgb(129, 57, 19) 20%,
      rgb(202, 114, 66) 25%,
      rgb(231, 179, 130) 32%,
      rgb(165, 100, 62) 42%,
      rgb(155, 87, 53) 50%
    )
    1;
}

@mixin category {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    @include rack-title;
  }
  &__content {
    @include rack-content;
    &__front {
      background: $glass-gradient;
      @include border-ridge;
      position: absolute;
      width: 175px;
      height: 100px;
      transform: translateZ(100px);
    }
    &__back {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      @include border-ridge;
      background: $copper-gradient;
      position: absolute;
      width: 175px;
      height: 100px;
      transform: translateZ(80px);
      padding: 5px;
      color: black;
      font-family: 'Times New Roman', Times, serif;
      font-size: 10px;
      text-transform: uppercase;
      &__title {
        font-size: 13px;
      }
      &__location {
        font-size: 9px;
      }
    }
    &__top {
      background: $glass-gradient;
      @include border-ridge;
      position: absolute;
      width: 175px;
      height: 20px;
      transform: rotateX(90deg) translateY(90px) translateZ(10px);
    }
    &__bottom {
      @include border-ridge;
      background: rgb(88, 51, 9);
      position: absolute;
      width: 175px;
      height: 20px;
      font-size: 10px;
      text-transform: uppercase;
      color: white;
      transform: rotateX(-90deg) translateY(-90px) translateZ(90px);
      &:hover {
        color: greenyellow;
        text-shadow: 0 0 5px greenyellow;
        cursor: pointer;
      }
    }
    &__left {
      background: $glass-gradient;
      @include border-ridge;
      position: absolute;
      width: 20px;
      height: 100px;
      transform: rotateY(-90deg) translateX(90px) translateZ(10px);
    }
    &__right {
      background: $glass-gradient;
      @include border-ridge;
      position: absolute;
      width: 20px;
      height: 100px;
      transform: rotateY(90deg) translateX(-89px) translateZ(165px);
    }
  }
}
