$color-copper: rgb(179, 103, 0);
$color-silver: rgb(192, 192, 192);

$confirm-color: green;

$glass-gradient: repeating-linear-gradient(
  122deg,
  rgba(179, 103, 0, 0.1) 5%,
  rgba(255, 255, 255, 0.2) 10%,
  rgba(179, 103, 0, 0.1) 25%
);

$copper-gradient: linear-gradient(
  122deg,
  rgb(208, 152, 117) 0%,
  rgb(193, 109, 62) 20%,
  rgb(129, 57, 19) 40%,
  rgb(202, 114, 66) 54%,
  rgb(231, 179, 130) 65%,
  rgb(165, 100, 62) 85%,
  rgb(122, 57, 25) 100%
);
