$color-copper: rgb(179, 103, 0);
$color-silver: rgb(192, 192, 192);

$confirm-color: green;

$glass-gradient: repeating-linear-gradient(
  122deg,
  rgba(179, 103, 0, 0.1) 5%,
  rgba(255, 255, 255, 0.2) 10%,
  rgba(179, 103, 0, 0.1) 25%
);

$dodecagonSide: 51.76px;

$copper: rgb(127, 87, 79);

$copper-linear-gradient: linear-gradient(
  108deg,
  rgba(127, 87, 79, 1) 0%,
  rgba(136, 136, 136, 1) 15%,
  rgba(110, 70, 50, 1) 25%,
  rgba(156, 94, 42, 1) 35%,
  rgba(76, 26, 10, 1) 60%,
  rgba(98, 72, 60, 1) 75%,
  rgba(75, 26, 0, 1) 100%
);

$copper-linear-gradient-2: linear-gradient(
  121deg,
  rgba(127, 87, 79, 1) 0%,
  rgba(136, 136, 136, 1) 10%,
  rgba(110, 70, 50, 1) 20%,
  rgba(156, 94, 42, 1) 30%,
  rgba(76, 26, 10, 1) 50%,
  rgb(94, 55, 23) 65%,
  rgba(98, 72, 60, 1) 75%,
  rgba(75, 26, 0, 1) 100%
);
