@import './variables';
@import './typography';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Times New Roman', Times, serif;
  list-style: none;
  text-decoration: none;
  color: white;
  background-image: url('../images/old-wood-600x600.jpg');
}

textarea {
  resize: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 60px;
}

button {
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;
  top: 100px;
  width: 100vw;
  height: 600px;
  overflow: hidden;
}

div:visited {
  text-decoration: none;
}
