@import './variables';
@import './typography';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato-Italic';
  list-style: none;
}

textarea {
  resize: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 60px;
}

button {
  cursor: pointer;
}

.main {
  background-color: black;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
