@import '../style/mixins';

.gearWheel {
  &__wheelBox {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    // animation: spin 5s infinite linear;
    // transform: rotateY(-50deg) rotateX(20deg);
    @include cube;
    &__cylinder {
      width: 100%;
      height: 100%;
      position: absolute;
      transform-style: preserve-3d;
      // background-size: contain;
      z-index: 1;
      & > * {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }
}

#gearWheel {
  &--1 {
    position: absolute;
    top: 10px;
    left: 5px;
    // transform: rotateZ(30deg);
  }
  &--2 {
    position: absolute;
    top: 160px;
    left: -50px;
  }
  &--3 {
    position: absolute;
    top: 240px;
    left: 50px;
  }
  &--4 {
    // color: #6e4d2f;
    transform: translateZ(-300px);
    position: absolute;
    top: -60px;
    left: -40px;
  }
}

.rotate {
  &__left {
    animation: rotate-left 5s infinite linear;
  }
  &__right {
    animation: rotate-right 5s infinite linear;
  }
}

@keyframes rotate-left {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes rotate-right {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-360deg);
  }
}

@keyframes spin {
  from {
    transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg);
  }
  to {
    transform: rotateZ(360deg) rotateX(360deg) rotateY(360deg);
  }
}
