@import './variables';
@import './mixins';

.header {
  z-index: 10;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 1000px;
  &::after,
  &::before {
    content: '';
    width: 1000px;
    height: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
      url(../images/svg/pipe-straight.svg);
  }
  @media (min-width: 480px) {
    flex-direction: row;
  }
  & > * {
    display: flex;
    font-family: 'Ironman-black';
    gap: 10px;
    font-size: 60px;
    padding-top: 5px;
    margin-bottom: -5px;
    color: $color-copper;
    text-shadow: 0px -2px 2px #29190d;
    text-decoration: none;
  }
}

@keyframes moveUp {
  from {
    transform: translateY(5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
