@import './variables';
@import './mixins';

.header {
  z-index: 10;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  &::after,
  &::before {
    content: '';
    width: 100%;
    height: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
      url(../images/svg/pipe-straight.svg);
  }
  @media (min-width: 480px) {
    flex-direction: row;
  }
  &__title {
    white-space: nowrap;
    font-family: 'Ironman-black';
    font-size: 60px;
    padding-top: 5px;
    margin-bottom: -5px;
    color: $color-copper;
    text-shadow: 0px -2px 2px #29190d;
    text-decoration: none;
  }
}

.scrollUp {
  position: relative;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  z-index: 10;
  animation: moveUp 0.4s ease-in-out;
  .header__nav {
    position: absolute;
    justify-content: space-evenly;
    right: 0;
    width: 80%;
    @media (min-width: 480px) {
      width: 40%;
    }
    &__logout {
      &__layout {
        z-index: 9;
        top: -100vh;
        left: -200vh;
        position: absolute;
        width: 300vw;
        height: 200vh;
      }
      &__confirmBox {
        top: -50vh;
        left: -10vw;
      }
    }
  }
  & .logoSvg {
    &__title {
      display: none;
      @media (min-width: 480px) {
        display: block;
      }
    }
  }
}

.scrollDown {
  animation: moveDown 0.4s ease-in-out;
}

@keyframes moveUp {
  from {
    transform: translateY(5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
