@import './variables';
@import './mixins';

.arm {
  border: 1px solid red;
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: $color-copper;
  z-index: 10;
}

#firstPlan {
  animation: showElement 1s 0.3s ease-in-out forwards;
  cursor: pointer;
}

@keyframes showElement {
  0% {
    z-index: 3;
    @include showElement_start;
  }
  40% {
    z-index: 3;
    @include showElement_mid-1;
  }
  60% {
    z-index: 3;
    @include showElement_mid-2;
  }
  100% {
    z-index: 3;
    @include showElement_end;
  }
}
#backPlan {
  animation: stockElement 1s ease-in-out forwards;
}

@keyframes stockElement {
  0% {
    z-index: 4;
    @include showElement_end;
  }
  40% {
    z-index: 4;
    @include showElement_mid-2;
  }
  60% {
    @include showElement_mid-1;
  }
  100% {
    @include showElement_start;
  }
}

#firstPlanCat {
  animation: firstplanCat 1s forwards;
}

@keyframes firstplanCat {
  0% {
    z-index: 0;
  }
  50% {
    z-index: 0;
  }
  100% {
    z-index: 3;
  }
}

#backPlanCat {
  animation: backplanCat 1s forwards;
}

@keyframes backplanCat {
  0% {
    z-index: 3;
  }
  40% {
    z-index: 3;
  }
  100% {
    z-index: 0;
  }
}

.moveBack {
  animation: moveBack 1s forwards;
}

@keyframes moveBack {
  0% {
    transform: translate3d(5px, 0, 0);
    opacity: 1;
    @media screen and (max-width: 1024px) {
      transform: translate3d(1px, 0, 0) scale(0.89);
    }
  }
  60% {
    transform: translate3d(5px, 0px, -200px);
    opacity: 0.8;
    box-shadow: inset 0 0 100px 50px black;
    @media screen and (max-width: 1024px) {
      transform: translate3d(-20px, 0, -200px) scale(0.89);
    }
  }
  100% {
    transform: translate3d(-30px, -500px, -200px);
    box-shadow: inset 0 0 200px 100px black;
    opacity: 0;
  }
}

.moveForward {
  animation: moveForward 1s forwards;
}

@keyframes moveForward {
  0% {
    transform: translate3d(-30px, -500px, -200px);
    box-shadow: inset 0 0 200px 100px black;
    opacity: 0;
  }
  40% {
    transform: translate3d(-30px, 0px, -200px);
    opacity: 1;
    // @media screen and (max-width: 1024px) {
    //   transform: translate3d(20px, 0, -200px) scale(0.89);
    // }
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    // @media screen and (max-width: 1024px) {
    //   transform: translate3d(1px, 0, 0) scale(0.89);
    // }
  }
}

.board {
  position: relative;
  display: flex;
  align-items: center;
  width: 1000px;
  height: 600px;
  perspective: 1000px;
  @media screen and (max-width: 1024px) {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }
}

.leftBox {
  @media screen and (max-width: 1024px) {
    order: 2;
  }
  @include colBox;
  &__background {
    transform: translate3d(-210px, 0px, -600px);
    width: 135%;
    height: 140%;
  }
  &__cv {
    transform: translateZ(-200px) translateX(-25%);

    &__experience {
      @include category;
      &__content {
        &--0 {
          width: 100%;
          height: 100px;
          position: absolute;
          transform-style: preserve-3d;
          transition: all 0.5s ease-in-out;
          transform: rotateX(87deg) translateZ(-65px) translateX(13px);
        }
        &--1 {
          width: 100%;
          height: 100px;
          position: absolute;
          transform-style: preserve-3d;
          transition: all 0.5s ease-in-out;
          transform: rotateX(89deg) translateZ(-113px) translateX(13px);
        }
        &--2 {
          width: 100%;
          height: 100px;
          position: absolute;
          transform-style: preserve-3d;
          transition: all 0.5s ease-in-out;
          transform: rotateX(89deg) translateZ(-160px) translateX(13px);
        }
      }
    }
    &__education {
      @include category;
      &__content {
        &--0 {
          width: 100%;
          height: 100px;
          position: absolute;
          transform-style: preserve-3d;
          transition: all 0.5s ease-in-out;
          transform: rotateX(83deg) translateZ(-65px) translateX(13px);
        }
        &--1 {
          width: 100%;
          height: 100px;
          position: absolute;
          transform-style: preserve-3d;
          transition: all 0.5s ease-in-out;
          transform: rotateX(85deg) translateZ(-113px) translateX(13px);
        }
        &--2 {
          width: 100%;
          height: 100px;
          position: absolute;
          transform-style: preserve-3d;
          transition: all 0.5s ease-in-out;
          transform: rotateX(88deg) translateZ(-163px) translateX(13px);
        }
        &--3 {
          width: 100%;
          height: 100px;
          position: absolute;
          transform-style: preserve-3d;
          transition: all 0.5s ease-in-out;
          transform: rotateX(91deg) translateZ(-212px) translateX(13px);
        }
        &--4 {
          width: 100%;
          height: 100px;
          position: absolute;
          transform-style: preserve-3d;
          transition: all 0.5s ease-in-out;
          transform: rotateX(94deg) translateZ(-261px) translateX(13px);
        }
      }
    }
  }
  &__identity {
    transform: translateZ(-200px) translateX(-25%);
    &__picture {
      width: 175px;
      height: 175px;
      border-radius: 100px;
      margin: 10px;
      & > img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.middleBox {
  @media screen and (max-width: 1024px) {
    order: 1;
    width: 100%;
  }
  display: flex;
  align-items: center;
  width: 40%;
  height: 100%;
  transform-style: preserve-3d;
  z-index: 0;
  &__middleCol {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    &__top {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 15%;
      background: url(../images/frame-metallic-800x180.jpg);
      background-size: contain;
      box-shadow: 0px 0px 5px 1px black;
    }
    &__screen {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 50%;
      background: url(../images/frame-metallic-800x600.png);
      background-size: contain;
      box-shadow: 0px 0px 5px 1px black;
      // transform: translate3d(0, 100px, 400px);
      transition: all 0.5s ease-in-out;
      z-index: 0;
      &__border {
        position: absolute;
        background-image: url(../images/pipe-screen.png);
        background-size: cover;
        width: 375px;
        height: 250px;
        border-radius: 45px;
        z-index: 1;
      }
      &__content {
        position: absolute;
        width: 330px;
        height: 200px;
        overflow: hidden;
        &__text {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 30px;
          padding: 20px;
          font-family: 'retro-gaming';
          color: #70ffc3;
          font-size: 0.6em;
          text-align: center;
        }
        &__background {
          position: absolute;
          background: black;
          width: 100%;
          height: 100%;
        }
      }
    }
    &__bottom {
      display: flex;
      justify-content: space-between;
      position: relative;
      width: 100%;
      height: 35%;
      &__left {
        display: flex;
        justify-content: center;
        align-self: center;
        width: 60%;
        height: 100%;
        background: url(../images/frame-metallic-480x420.png);
        background-size: contain;
        box-shadow: 0px 2px 5px black inset;
        &__porthole {
          @media screen and (max-width: 1024px) {
            display: none;
          }
          display: flex;
          align-self: center;
          position: relative;
          background: black;
          width: 150px;
          height: 150px;
          border-radius: 100px;
          overflow: hidden;
          box-shadow: 0 0 5px 4px rgb(51, 45, 36);
          &::after {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 150px;
            height: 150px;
            border-radius: 100px;
            box-shadow: inset 7px -7px 100px 0px rgba($color-copper, 0.4);
            filter: blur(10px);
          }
          &__mask {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 150px;
            height: 150px;
            border-radius: 100px;
            box-shadow: inset -10px -20px 50px 2px white;
            opacity: 0.8;
            filter: blur(10px);
            z-index: 1;
            &::after {
              content: '';
              position: absolute;
              width: 150px;
              height: 150px;
              border-radius: 100px;
              box-shadow: inset 0px 0px 15px 2px white;
            }
          }
        }
      }

      &__empty {
        width: 40%;
        perspective: 1000px;
        background: black;
        position: relative;
        overflow: hidden;
        &__shadow {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          box-shadow: inset 0 0 100px 10px black;
        }
      }
    }
  }
}

.rightBox {
  @media screen and (max-width: 1024px) {
    order: 3;
  }
  @include colBox;
  &__background {
    transform: translate3d(210px, 0px, -600px);
    width: 135%;
    height: 140%;
  }
  &__cv {
    transform: translateZ(-200px) translateX(31%);
    &__skill {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      background: $copper-linear-gradient-2;
      transition: all 0.5s ease-in-out;
      box-shadow: inset 0 0 15px 5px black;
      // transform: translateZ(-200px) translateX(-25%);
      // opacity: 0;
      &__title {
        @include rack-title;
      }
      &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 200px;
        font-size: 1.22em;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background: $copper-linear-gradient-2;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        text-shadow: -0.5px -0.5px rgba(0, 0, 0, 0.9);
        filter: brightness(200%);
        & > * {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          margin: 5px;
          flex: 1 0 auto;
        }
      }
    }
  }
  &__identity {
    transform: translateZ(-200px) translateX(31%);
  }
}

// .floating {
//   &__skill {
//     width: 100%;
//     height: 100%;
//     perspective: 1000px;
//     &__softSkill {
//       width: 100%;
//       height: 100%;
//       transform-style: preserve-3d;
//       position: relative;
//       & > * {
//         @include floatingElement();
//       }
//       & > *:hover {
//         color: white;
//         cursor: pointer;
//         animation-play-state: paused;
//         font-size: 5vw;
//       }
//     }
//   }
// }

// @keyframes floating {
//   0% {
//     top: var(--y0);
//     left: var(--x0);
//     transform: var(--z0);
//     filter: var(--brightness0);
//     z-index: var(--zIndex0);
//   }
//   10% {
//     top: var(--y1);
//     left: var(--x1);
//     transform: var(--z1);
//     filter: var(--brightness1);
//     z-index: var(--zIndex1);
//   }
//   20% {
//     top: var(--y2);
//     left: var(--x2);
//     transform: var(--z2);
//     filter: var(--brightness2);
//     z-index: var(--zIndex2);
//   }
//   30% {
//     top: var(--y3);
//     left: var(--x3);
//     transform: var(--z3);
//     filter: var(--brightness3);
//     z-index: var(--zIndex3);
//   }
//   40% {
//     top: var(--y4);
//     left: var(--x4);
//     transform: var(--z4);
//     filter: var(--brightness4);
//     z-index: var(--zIndex4);
//   }
//   50% {
//     top: var(--y5);
//     left: var(--x5);
//     transform: var(--z5);
//     filter: var(--brightness5);
//     z-index: var(--zIndex5);
//   }
//   60% {
//     top: var(--y6);
//     left: var(--x6);
//     transform: var(--z6);
//     filter: var(--brightness6);
//     z-index: var(--zIndex6);
//   }
//   70% {
//     top: var(--y7);
//     left: var(--x7);
//     transform: var(--z7);
//     filter: var(--brightness7);
//     z-index: var(--zIndex7);
//   }
//   80% {
//     top: var(--y8);
//     left: var(--x8);
//     transform: var(--z8);
//     filter: var(--brightness8);
//     z-index: var(--zIndex8);
//   }
//   90% {
//     top: var(--y9);
//     left: var(--x9);
//     transform: var(--z9);
//     filter: var(--brightness9);
//     z-index: var(--zIndex9);
//   }
//   100% {
//     top: var(--y0);
//     left: var(--x0);
//     transform: var(--z0);
//     filter: var(--brightness0);
//     z-index: var(--zIndex0);
//   }
// }
