@import './variables';
@import './mixins';

.arm {
  border: 1px solid red;
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: $color-copper;
  z-index: 10;
}

#firstPlan {
  animation: showElement 1s 0.3s ease-in-out forwards;
  cursor: pointer;
}

@keyframes showElement {
  0% {
    z-index: 3;
  }
  40% {
    z-index: 3;
    transform: rotateX(87deg) translate3d(13px, 300px, -65px);
  }
  60% {
    z-index: 3;
    transform: translate3d(13px, 20px, 135px);
  }

  100% {
    z-index: 3;
    transform: translate3d(150px, 125px, 500px);
  }
}
#backPlan {
  animation: stockElement 1s ease-in-out forwards;
}

@keyframes stockElement {
  0% {
    z-index: 4;
    transform: translate3d(150px, 125px, 500px);
  }
  40% {
    z-index: 4;
    transform: translateZ(135px) translateX(13px) translateY(20px);
  }
  60% {
    transform: rotateX(87deg) translateZ(-65px) translateX(13px)
      translateY(300px);
  }

  100% {
  }
}

#firstPlanCat {
  animation: firstplanCat 1s forwards;
}

@keyframes firstplanCat {
  0% {
    z-index: 0;
  }
  50% {
    z-index: 0;
  }
  100% {
    z-index: 3;
  }
}

#backPlanCat {
  animation: backplanCat 1s forwards;
}

@keyframes backplanCat {
  0% {
    z-index: 3;
  }
  40% {
    z-index: 3;
  }
  100% {
    z-index: 0;
  }
}

.moveBack {
  transform: translateZ(-200px) translateX(-20%);
  box-shadow: inset 0 0 200px 100px black;
  opacity: 0;
}

.board {
  position: relative;
  display: flex;
  align-items: center;
  width: 1000px;
  height: 600px;
  perspective: 1000px;
  border: 1px solid red;
}

.leftBox {
  @include colBox;
  &__background {
    transform: translateZ(-500px) translateX(-45%);
  }
  &__cv {
    transform: translateZ(-200px) translateX(-25%);

    &__experience {
      @include category;
      &__content {
        &--0 {
          width: 100%;
          height: 100px;
          position: absolute;
          transform-style: preserve-3d;
          transition: all 0.5s ease-in-out;
          transform: rotateX(87deg) translateZ(-65px) translateX(13px);
        }
        &--1 {
          width: 100%;
          height: 100px;
          position: absolute;
          transform-style: preserve-3d;
          transition: all 0.5s ease-in-out;
          transform: rotateX(89deg) translateZ(-113px) translateX(13px);
        }
      }
    }
    &__education {
      @include category;
      &__content {
        &--0 {
          width: 100%;
          height: 100px;
          position: absolute;
          transform-style: preserve-3d;
          transition: all 0.5s ease-in-out;
          transform: rotateX(83deg) translateZ(-65px) translateX(13px);
        }
        &--1 {
          width: 100%;
          height: 100px;
          position: absolute;
          transform-style: preserve-3d;
          transition: all 0.5s ease-in-out;
          transform: rotateX(85deg) translateZ(-113px) translateX(13px);
        }
        &--2 {
          width: 100%;
          height: 100px;
          position: absolute;
          transform-style: preserve-3d;
          transition: all 0.5s ease-in-out;
          transform: rotateX(88deg) translateZ(-163px) translateX(13px);
        }
        &--3 {
          width: 100%;
          height: 100px;
          position: absolute;
          transform-style: preserve-3d;
          transition: all 0.5s ease-in-out;
          transform: rotateX(91deg) translateZ(-212px) translateX(13px);
        }
        &--4 {
          width: 100%;
          height: 100px;
          position: absolute;
          transform-style: preserve-3d;
          transition: all 0.5s ease-in-out;
          transform: rotateX(94deg) translateZ(-261px) translateX(13px);
        }
      }
    }
  }
  &__identity {
    transform: translateZ(-200px) translateX(-25%);
    &__picture {
      width: 175px;
      height: 175px;
      border-radius: 100px;
      margin: 10px;
      & > img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.middleBox {
  display: flex;
  align-items: center;
  width: 40%;
  height: 100%;
  transform-style: preserve-3d;
  z-index: 1;
  &__middleCol {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    &__screen {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 375px;
      height: 250px;
      border-radius: 45px;
      // transform: translate3d(0, 100px, 400px);
      transition: all 0.5s ease-in-out;
      z-index: 0;
      &__border {
        position: absolute;
        background-image: url(../images/pipe-screen.png);
        background-size: cover;
        width: 375px;
        height: 250px;
        border-radius: 45px;
        z-index: 1;
      }
      &__content {
        position: absolute;
        width: 330px;
        height: 200px;
        &__text {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 30px;
          padding: 20px;
          font-family: 'retro-gaming';
          color: #70ffc3;
          font-size: 14px;
        }
        &__background {
          position: absolute;
          background: black;
          width: 100%;
          height: 100%;
        }
      }
    }

    &__porthole {
      position: relative;
      background: black;
      width: 200px;
      height: 200px;
      border-radius: 100px;
      overflow: hidden;
      box-shadow: 0 0 5px 4px rgb(51, 45, 36);
      &::after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 200px;
        height: 200px;
        border-radius: 100px;
        box-shadow: inset 7px -7px 100px 0px rgba($color-copper, 0.4);
      }
      &__mask {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 200px;
        height: 200px;
        border-radius: 100px;
        box-shadow: inset 7px -7px 30px 3px white;
        z-index: 1;
        &::after {
          content: '';
          position: absolute;
          width: 200px;
          height: 200px;
          border-radius: 100px;
          box-shadow: inset 0px 0px 15px 3px white;
        }
      }
    }
  }
}

.rightBox {
  @include colBox;
  &__background {
    transform: translateZ(-500px) translateX(48%);
  }
  &__cv {
    transform: translateZ(-200px) translateX(31%);
    &__skill {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      background: $copper-linear-gradient-2;
      transition: all 0.5s ease-in-out;
      box-shadow: inset 0 0 15px 5px black;
      // transform: translateZ(-200px) translateX(-25%);
      // opacity: 0;
      &__title {
        @include rack-title;
      }
      &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 200px;
        font-size: 21px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background: $copper-linear-gradient-2;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        text-shadow: -0.5px -0.5px rgba(0, 0, 0, 0.9);
        filter: brightness(200%);
        & > * {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          margin: 5px;
          flex: 1 0 auto;
        }
      }
    }
  }
  &__identity {
    transform: translateZ(-200px) translateX(31%);
  }
}

.moveForward {
  transform: translate3d(5px, 0, 0);
  opacity: 1;
}

.floating {
  &__skill {
    width: 100%;
    height: 100%;
    perspective: 1000px;
    &__softSkill {
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      position: relative;
      & > * {
        @include floatingElement();
      }
      & > *:hover {
        color: white;
        cursor: pointer;
        animation-play-state: paused;
        font-size: 5vw;
      }
    }
  }
}

@keyframes floating {
  0% {
    top: var(--y0);
    left: var(--x0);
    transform: var(--z0);
    filter: var(--brightness0);
    z-index: var(--zIndex0);
  }
  10% {
    top: var(--y1);
    left: var(--x1);
    transform: var(--z1);
    filter: var(--brightness1);
    z-index: var(--zIndex1);
  }
  20% {
    top: var(--y2);
    left: var(--x2);
    transform: var(--z2);
    filter: var(--brightness2);
    z-index: var(--zIndex2);
  }
  30% {
    top: var(--y3);
    left: var(--x3);
    transform: var(--z3);
    filter: var(--brightness3);
    z-index: var(--zIndex3);
  }
  40% {
    top: var(--y4);
    left: var(--x4);
    transform: var(--z4);
    filter: var(--brightness4);
    z-index: var(--zIndex4);
  }
  50% {
    top: var(--y5);
    left: var(--x5);
    transform: var(--z5);
    filter: var(--brightness5);
    z-index: var(--zIndex5);
  }
  60% {
    top: var(--y6);
    left: var(--x6);
    transform: var(--z6);
    filter: var(--brightness6);
    z-index: var(--zIndex6);
  }
  70% {
    top: var(--y7);
    left: var(--x7);
    transform: var(--z7);
    filter: var(--brightness7);
    z-index: var(--zIndex7);
  }
  80% {
    top: var(--y8);
    left: var(--x8);
    transform: var(--z8);
    filter: var(--brightness8);
    z-index: var(--zIndex8);
  }
  90% {
    top: var(--y9);
    left: var(--x9);
    transform: var(--z9);
    filter: var(--brightness9);
    z-index: var(--zIndex9);
  }
  100% {
    top: var(--y0);
    left: var(--x0);
    transform: var(--z0);
    filter: var(--brightness0);
    z-index: var(--zIndex0);
  }
}
