@import './variables';
@import './mixins';

.timeScroller {
  --yearScrollY: 200px;
}

.timeScroller {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50px;
  width: 20px;
  height: 600px;
  z-index: 200;
  & > input {
    position: absolute;
    top: 60%;
    border: 1px solid red;
    height: 20px;
    transform: rotate(90deg);
    background-color: blue;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 75vh;
    &::-webkit-slider-runnable-track {
      background: white;
    }
  }
}

.arm {
  border: 1px solid red;
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: $color-copper;
  z-index: 10;
}

#firstPlan {
  animation: showElement 1s 0.3s ease-in-out forwards;
  & > * {
    box-shadow: 0px 20px 50px rgba(black, 0.7);
  }
}

@keyframes showElement {
  0% {
    z-index: 3;
  }
  40% {
    z-index: 3;
    transform: rotateX(87deg) translate3d(13px, 300px, -65px);
  }
  60% {
    z-index: 3;
    transform: rotateX(0deg) translate3d(13px, 20px, 135px);
  }

  100% {
    z-index: 3;
    transform: rotateX(0deg) translate3d(135px, 50px, 500px);
  }
}
#backPlan {
  animation: stockElement 1s ease-in-out forwards;
}

@keyframes stockElement {
  0% {
    z-index: 4;
    transform: rotateX(0deg) translateZ(500px) translateX(130px)
      translateY(50px);
  }
  40% {
    z-index: 4;
    transform: rotateX(0deg) translateZ(135px) translateX(13px) translateY(20px);
  }
  60% {
    transform: rotateX(87deg) translateZ(-65px) translateX(13px)
      translateY(300px);
  }

  100% {
  }
}

#firstPlanCat {
  animation: firstplanCat 1s forwards;
}

@keyframes firstplanCat {
  0% {
    z-index: 0;
  }
  100% {
    z-index: 3;
  }
}

#backPlanCat {
  animation: backplanCat 1s forwards;
}

@keyframes backplanCat {
  0% {
    z-index: 3;
  }
  100% {
    z-index: 0;
  }
}

.moveBack {
  transform: translateZ(-200px) translateX(-15%);
  opacity: 0;
}

.board {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 600px;
  perspective: 1000px;
}

.leftBox {
  position: relative;
  display: flex;
  align-items: center;
  width: 25%;
  min-width: 220px;
  height: 95%;
  transform-style: preserve-3d;
  &__background {
    position: absolute;
    width: 150%;
    height: 150%;
    background: black;
    transform: translateZ(-500px) translateX(-64%);
  }
  &__cv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgb(82, 50, 8);
    transition: all 0.5s ease-in-out;
    transform: translateZ(-200px) translateX(-15%);
    opacity: 0;
    & > * {
      width: 190px;
      margin: 10px auto;
    }
    &__exp {
      @include category;
      &__content {
        height: 150px;
        &--0 {
          width: 100%;
          height: 100px;
          position: absolute;
          transform-style: preserve-3d;
          transition: all 0.5s ease-in-out;
          transform: rotateX(87deg) translateZ(-65px) translateX(13px);
        }
        &--1 {
          width: 100%;
          height: 100px;
          position: absolute;
          transform-style: preserve-3d;
          transition: all 0.5s ease-in-out;
          transform: rotateX(89deg) translateZ(-113px) translateX(13px);
        }
      }
    }
    &__edu {
      @include category;
      &__content {
        height: 300px;
        &--0 {
          width: 100%;
          height: 100px;
          position: absolute;
          transform-style: preserve-3d;
          transition: all 0.5s ease-in-out;
          transform: rotateX(83deg) translateZ(-65px) translateX(13px);
        }
        &--1 {
          width: 100%;
          height: 100px;
          position: absolute;
          transform-style: preserve-3d;
          transition: all 0.5s ease-in-out;
          transform: rotateX(85deg) translateZ(-113px) translateX(13px);
        }
        &--2 {
          width: 100%;
          height: 100px;
          position: absolute;
          transform-style: preserve-3d;
          transition: all 0.5s ease-in-out;
          transform: rotateX(88deg) translateZ(-163px) translateX(13px);
        }
        &--3 {
          width: 100%;
          height: 100px;
          position: absolute;
          transform-style: preserve-3d;
          transition: all 0.5s ease-in-out;
          transform: rotateX(91deg) translateZ(-212px) translateX(13px);
        }
        &--4 {
          width: 100%;
          height: 100px;
          position: absolute;
          transform-style: preserve-3d;
          transition: all 0.5s ease-in-out;
          transform: rotateX(94deg) translateZ(-261px) translateX(13px);
        }
      }
    }
  }
  &__identity {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 10px auto;
    width: 220px;
    height: 100%;
    background: $copper-gradient;
    transition: all 0.5s ease-in-out;
    transform: translateZ(-200px) translateX(-15%);
    opacity: 0;
    &__picture {
      width: 175px;
      height: 175px;
      border-radius: 100px;
      margin: 10px;
      & > img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.middleBox {
  display: flex;
  align-items: center;
  width: 50%;
  min-width: 400px;
  height: 95%;
  transform-style: preserve-3d;
  z-index: 1;
  &__middleCol {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    &__screen {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 375px;
      height: 250px;
      border-radius: 45px;
      // transform: translate3d(0, 100px, 400px);
      z-index: 0;
      &__border {
        position: absolute;
        background-image: url(../images/pipe-screen.png);
        background-size: cover;
        width: 375px;
        height: 250px;
        border-radius: 45px;
        z-index: 1;
      }
      &__content {
        position: absolute;
        width: 330px;
        height: 200px;
        &__text {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 30px;
          padding: 20px;
          font-family: monospace;
          color: #70ffc3;
          font-size: 12px;
        }
        &__background {
          position: absolute;
          background: black;
          width: 100%;
          height: 100%;
        }
      }
    }

    &__porthole {
      position: relative;
      background: black;
      width: 200px;
      height: 200px;
      border-radius: 100px;
      overflow: hidden;
      box-shadow: 0 0 5px 4px black;
      &::after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 200px;
        height: 200px;
        border-radius: 100px;
        box-shadow: inset 7px -7px 100px 0px rgba($color-copper, 0.4);
      }
      &__mask {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 200px;
        height: 200px;
        border-radius: 100px;
        box-shadow: inset 7px -7px 30px 3px white;
        z-index: 1;
        &::after {
          content: '';
          position: absolute;
          width: 200px;
          height: 200px;
          border-radius: 100px;
          box-shadow: inset 0px 0px 15px 3px white;
        }
      }
    }
    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 350px;
      height: 50px;
      background: $copper-gradient;
      & button {
        width: 100px;
        height: 25px;
      }
    }
  }
}

.rightBox {
  display: flex;
  align-items: center;
  width: 25%;
  min-width: 220px;
  height: 95%;
  transform-style: preserve-3d;
  background: black;
  &__rightCol {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    width: 200px;
    color: #70ffc3;
    font-family: 'retro-computer';
    font-size: 12px;
    & > * {
      width: 190px;
      margin: 10px auto;
    }
    &__skill {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__title {
        @include rack-title;
      }
      &__content {
        @include border-ridge;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 200px;
        height: 500px;
        background: black;
        box-shadow: 0 0 15px 1px black;
        & > * {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          margin: 5px;
          flex: 1 0 auto;
        }
      }
    }
  }
}

.moveForward {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.floating {
  &__skill {
    width: 100%;
    height: 100%;
    perspective: 1000px;
    &__softSkill {
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      position: relative;
      & > * {
        @include floatingElement();
      }
      & > *:hover {
        color: white;
        cursor: pointer;
        animation-play-state: paused;
        font-size: 5vw;
      }
    }
  }
}

@keyframes floating {
  0% {
    top: var(--y0);
    left: var(--x0);
    transform: var(--z0);
    filter: var(--brightness0);
    z-index: var(--zIndex0);
  }
  10% {
    top: var(--y1);
    left: var(--x1);
    transform: var(--z1);
    filter: var(--brightness1);
    z-index: var(--zIndex1);
  }
  20% {
    top: var(--y2);
    left: var(--x2);
    transform: var(--z2);
    filter: var(--brightness2);
    z-index: var(--zIndex2);
  }
  30% {
    top: var(--y3);
    left: var(--x3);
    transform: var(--z3);
    filter: var(--brightness3);
    z-index: var(--zIndex3);
  }
  40% {
    top: var(--y4);
    left: var(--x4);
    transform: var(--z4);
    filter: var(--brightness4);
    z-index: var(--zIndex4);
  }
  50% {
    top: var(--y5);
    left: var(--x5);
    transform: var(--z5);
    filter: var(--brightness5);
    z-index: var(--zIndex5);
  }
  60% {
    top: var(--y6);
    left: var(--x6);
    transform: var(--z6);
    filter: var(--brightness6);
    z-index: var(--zIndex6);
  }
  70% {
    top: var(--y7);
    left: var(--x7);
    transform: var(--z7);
    filter: var(--brightness7);
    z-index: var(--zIndex7);
  }
  80% {
    top: var(--y8);
    left: var(--x8);
    transform: var(--z8);
    filter: var(--brightness8);
    z-index: var(--zIndex8);
  }
  90% {
    top: var(--y9);
    left: var(--x9);
    transform: var(--z9);
    filter: var(--brightness9);
    z-index: var(--zIndex9);
  }
  100% {
    top: var(--y0);
    left: var(--x0);
    transform: var(--z0);
    filter: var(--brightness0);
    z-index: var(--zIndex0);
  }
}
